


<div id="newcontacts" class="row-fluid newitemdiv">

    <script type="text/javascript">
    
        // define actions  that need to be attached to the boxes of this form to enable it to work properly
        var actions = function() {
        }
        
        // define validation activities that should take place on this record before saving is allowed
        var validate = function() {
            $('.alert-error').remove();
            var valid = true;
            var errors = '';

            // write validation functions here. e.g. compare the values of certain fields, see if they have particular types, etc
            // when an error is found, append a description paragraph to var errors, and set valid to false
            
            if ( valid ) {
                return true;
            } else {
                $('.new_container').after('<div class="alert alert-error">' + errors + '</div>');
                $(window).scrollTop($(window).scrollTop()+100);
                return false;
            }
        }
    </script>

    <div class="span6">
    <div class="well new_container">

        <div><span class="upload_label">Contact name:</span><input type="text" name="name" data-path="name" class="jtedit_value"></div>
        
        <div><span class="upload_label">Company name:</span><input type="text" name="companyname" data-path="companyname" class="jtedit_value"></div>

        <div><span class="upload_label">Role / title:</span><input type="text" name="role" data-path="role" class="jtedit_value"></div>

        <div><span class="upload_label">Contact email:</span><input type="text" name="email" data-path="email" class="jtedit_value"></div>

        <div><span class="upload_label">Contact phone:</span><input type="text" name="phone" data-path="phone" class="jtedit_value"></div>

        <div><span class="upload_label">Address:</span><textarea name="address" data-path="address" class="jtedit_value"></textarea></div>

        <div><span class="upload_label">Billable contact:</span>
            <select name="billable" data-path="billable" class="jtedit_value">
                <option>No</option>
                <option>Yes</option>
            </select>
        </div>

        <div><span class="upload_label">Company number:</span><input type="text" name="companynumber" data-path="companynumber" class="jtedit_value"></div>

        <div><span class="upload_label">VAT number:</span><input type="text" name="vatnumber" data-path="vatnumber" class="jtedit_value"></div>
        
        <div><span class="upload_label">Vat status:</span>
            <select name="vat" data-path="vatstatus" class="jtedit_value">
                <option></option>
                {% for item in dropdowns["vat"] %}<option>{{item}}</option>{% endfor %}
            </select>
        </div>
        
        <div><span class="upload_label">Description:</span><textarea name="description" data-path="description" class="jtedit_value"></textarea></div>
        
        <div><span class="upload_label">Tags:</span> <input type="text" name="tags" data-path="tags" class="jtedit_value" /></div>

        <div><span class="upload_label">Notes:</span> <textarea name="notes" data-path="notes" class="jtedit_value"></textarea></div>

        <div style="margin-top:10px;">
            <span class="upload_label"></span>
            <a id="contactsnewsave" class="btn" style="margin:-10px 5px 20px 0;" href="#">save</a><a id="contactsnewcancel" class="btn" style="margin:-10px 0 20px 0;" href="#">cancel</a>
        </div>

    </div>
    </div>
    
    <div class="span6">
        <div class="well help_container">
            <p class="help name">Enter the person name of this contact (could be blank if this contact is some sort of organisation).</p>
            <p class="help role">Enter the role this contact holds, e.g. director, head of marketing, etc.</p>
            <p class="help companyname">Enter the name of the company / parent organisation this contact belongs to, if any</p>
            <p class="help companynumber">Enter the company number of this contact, if known.</p>
            <p class="help vatnumber">Enter the VAT number of this contact, if known.</p>
            <p class="help vatstatus">Enter the location in which the organisation this person belongs to (or themselves if an individual) has its registered address. This is useful if this contact is someone to whom we might send invoices, because their location defines whether or not we must charge them VAT.</p>
            <p class="help billable">Indicate if this contact is someone to whom bills can be sent. If so, they will be available as recipients for financial events.</p>
            <p class="help address">Enter the address of this contact address.</p>
            <p class="help description">Enter a description of this contact; what they do, for example.</p>
            <p class="help email">Enter the contact email address.</p>
            <p class="help phone">Enter the contact phone number.</p>
            <p class="help tags">Add any relevant tags, they are useful for searching for particular records later. For example you might tag some records with "check", to remind you to come back and check them later for some reason.</p>
            <p class="help notes">Add any further notes, e.g. write a short note whenever you have to make a change to this record, or just a note about the content of this record, for future reference.</p>
        </div>
    </div>
    
</div>


