
<div id="newfinancials" class="row-fluid newitemdiv">

    <script type="text/javascript">
    
        // define actions  that need to be attached to the boxes of this form to enable it to work properly
        var actions = function() {
            $('[name="status"]').attr("disabled","disabled");                
            $('[name="recipient"]').attr("disabled","disabled");
            var seteventsandrecipients = function() {
                $('[name="status"]').attr("disabled","disabled");                
                $('[name="recipient"]').attr("disabled","disabled");
                if ( $(this).val().length != 0 ) {
                    var sopts = '<option value="projected">projected: we expect this event to arise during the course of the project</option>';
                    var ropts = '<option></option>';
                    if ( $(this).val() == "cost" ) {
                        sopts += '<option value="invoiced">invoiced: we have received an invoice asking us to pay this cost</option>';
                        sopts += '<option value="paid">paid: we have paid this invoice, money has left our account</option>';
                        {% for item in dropdowns['contractors'] %}
                            ropts += '<option value="{{item[0]}}">{{ item[1] }}</option>';
                        {% endfor %}
                    } else if ( $(this).val() in ["internalcost","internalpayment"] ) {
                        sopts = '<option value="information">informational: we just need to know about this</option>';
                        {% for item in dropdowns['internals'] %}
                            ropts += '<option>{{ item }}</option>';
                        {% endfor %}
                    } else if ( $(this).val() == "payment" ) {
                        sopts += '<option value="ordered">ordered: we have received a PO asking that we invoice for this payment</option>';
                        sopts += '<option value="invoiced">invoiced: we have sent an invoice requesting this payment</option>';
                        sopts += '<option value="reminded">reminded: we have sent a reminder chasing payment to us of this invoice</option>';
                        sopts += '<option value="paid">paid: we have been paid this payment, the money is in our account</option>';
                        ropts = '<option value="us">us: this is a payment to us, so we are the recipient</option>';
                    } else if ( $(this).val() == "expense" ) {
                        sopts += '<option value="claimed">claimed: someone on this project has claimed this expense and provided documentary evidence in the project folder</option>';
                        sopts += '<option value="paid">paid: we have reimbursed this expense to the project member that claimed it</option>';
                        {% for item in dropdowns['clpeople'] %}
                            ropts += '<option>{{ item }}</option>';
                        {% endfor %}
                    }
                    $('[name="status"]').html(sopts);
                    $('[name="status"]').removeAttr("disabled");
                    $('[name="recipient"]').html(ropts);
                    $('[name="recipient"]').removeAttr("disabled");
                };
            };
            $('[name="type"]').bind('change',seteventsandrecipients);
        }
        
        // define validation activities that should take place on this record before saving is allowed
        var validate = function() {
            $('.alert-error').remove();
            var valid = true;
            var errors = '';

            // write validation functions here. e.g. compare the values of certain fields, see if they have particular types, etc
            // when an error is found, append a description paragraph to var errors, and set valid to false
            
            var data = $.fn.jtedit.options.data;
            data.tags = [];
            var tags = $('.tagselect').select2("data");
            for ( var key in tags ) {
                data.tags.push(tags[key].text);
            };
            if ( valid ) {
                return data;
            } else {
                $('.new_container').after('<div class="alert alert-error">' + errors + '</div>');
                $(window).scrollTop($(window).scrollTop()+100);
                return false;
            }
        }
    </script>


    <div class="span6">
    <div class="well new_container">

        <div><span class="upload_label">project</span>
            <select name="project" data-path="project" class="jtedit_value">
                <option></option>
                {% for name in dropdowns["projects"] %}
                <option>{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <div><span class="upload_label">Due date:</span> <input type="text" name="duedate" data-path="duedate" class="jtedit_value datepicker" /></div>

        <div><span class="upload_label">Date paid:</span> <input type="text" name="datepaid" data-path="datepaid" class="jtedit_value datepicker" disabled /></div>

        <div><span class="upload_label">Event type:</span>
            <select name="type" data-path="type" class="jtedit_value">
                <option></option>
                <option value="cost">cost: a cost we have to pay on this project, to some external body</option>
                <option value="internalcost">internal cost: a cost being paid from this project to another Cottage Labs project, for provision of services required</option>
                <option value="internalpayment">internal payment: a payment this project wil receive from another Cottage Labs project, for provision of services required to said project</option>
                <option value="payment">payment: a payment we expect to receive on this project, for example from the customer upon delivery of services</option>
                <option value="expense">expense: an expense that a project member will incur during the course of this project</option>
            </select>
        </div>

        <div><span class="upload_label">Status:</span>
            <select name="status" data-path="status" class="jtedit_value" disabled>
                <option></option>
            </select>
        </div>

        <div><span class="upload_label">Reference:</span><input type="text" name="reference" data-path="reference" class="jtedit_value"></div>

        <div><span class="upload_label">Recipient:</span><select name="recipient" data-path="recipient" class="jtedit_value" disabled><option></option></select></div>

        <div><span class="upload_label">Description:</span><textarea name="description" data-path="description" class="jtedit_value"></textarea></div>

        <div><span class="upload_label">£ + / - ex VAT:</span><input type="text" name="cost" data-path="cost" class="jtedit_value"></div>

        <div><span class="upload_label">VAT:</span><input type="text" name="vat" data-path="vat" class="jtedit_value"></div>

        <div><span class="upload_label">Tags:</span> <input type="text" name="tags" data-path="tags" class="tagselect" /></div>

        <div><span class="upload_label">Notes:</span> <textarea name="notes" data-path="notes" class="jtedit_value"></textarea></div>

        <div><span class="upload_label">Approved by project lead:</span>
            <select name="approved" data-path="approved" class="jtedit_value" disabled>
                <option>No</option>
                <option>Yes</option>
            </select>
        </div>

        <div style="margin-top:10px;">
            <span class="upload_label"></span>
            <a id="financialsnewsave" class="btn" style="margin:-10px 5px 20px 0;" href="#">save</a><a id="financialsnewcancel" class="btn" style="margin:-10px 0 20px 0;" href="#">cancel</a><a id="financialsnewdelete" class="btn btn-danger" style="margin:-10px 0 20px 5px;" href="#">delete</a>
        </div>

    </div>
    </div>
    
    <div class="span6">
        <div class="well help_container">
            <p>NOTE: before getting started, make sure that records exist for any contacts or contractors that you will want to include in this financial event.</p>
            <p class="help project">Choose the project to which this financial event relates.</p>
            <p class="help duedate">Select the date that this financial event is due, e.g. when we expect to be billed for work done by a contractor for us, or when we epxect to be able to invoice a customer for project work we do for them.</p>
            <p class="help datepaid">Select the date this financial event actually occurred - as in when money left or arrived in our bank account - NOT the date on any particular invoice. This might be the date a payment was received by us from a customer, or the date we paid a contractor from our bank account, or the date we reimbursed an expense to a project partner.</p>
            <p class="help type">Select the event type - 
                <br><br> a <strong>cost</strong> we have to pay on this project, to some external body.
                <br><br> an <strong>internal cost</strong> being paid from this project to another Cottage Labs project, for provision of services required.
                <br><br> an <strong>internal payment</strong> being received by project from another Cottage Labs project, for provision of services by this project to said project. Only internal Cottage Labs projects should receive internal payments.
                <br><br> a <strong>payment</strong> we expect to receive on this project, for example from the customer upon delivery of services.
                <br><br>an <strong>expense</strong> that a project member will incur during the course of this project.
            </p>
            <p class="help status">Select the status of this event, dependent on the event type; it is expected that events will progress through the status options available as a project progresses, although some may be skipped.</p>
            <p class="help reference">Enter one of -<br><br>our reference for this event e.g. our reference number that we put on an invoice that we issue to the customer (remember our invoices must include VAT, and invoices with VAT on them must have a unique reference)<br><br>or the reference provided by the recipient, for example the reference number given on an invoice we receive from a supplier.</p>
            <p class="help recipient">Select the recipient of this financial event; for example a contractor in the case of a cost.</p>
            <p class="help description">Provide a description of this financial event, such as the goods or services expected to be supplied or received, or a description of an incurred expense. If there is documentation describing this, then this field may contain a URL to that documentation.</p>
            <p class="help cost">The amount coming into our bank account in the case of a payment to us (a positive number), or the amount leaving our bank account in the case of a cost or expense (a negative number) - always excluding VAT</p>
            <p class="help vat">Enter the amount of VAT related to the cost of this event, if any; this may be the amount of VAT we charge on an invoice, or the amount of VAT charged to us by a supplier.</p>
            <p class="help confirmed">Before any invoice sent, payment made, or expense reimbursed, it must be confirmed with the leader of the project to which it relates.</p>
            <p class="help tags">Add any relevant tags, they are useful for searching for particular records later. For example you might tag some records with "check", to remind you to come back and check them later for some reason.</p>
            <p class="help notes">Add any further notes, e.g. write a short note whenever you have to make a change to this record, or just a note about the content of this record, for future reference.</p>
        </div>
    </div>
    
</div>


