*.pyc
*.egg-info/*
.*.swp
media/*
gallery/*
src*
.DS_Store
.Python
app.cfg
templates/sitemap/sitemap.json
templates/sitemap/sitemap_private.html
templates/sitemap/sitemap_public.html
templates/sitemap/sitenav.html
templates/sitemap/sitenav_overview.html
templates/sitemap/sitenav_public.html
