{% extends "base.html" %}

{% block page_title %}<title>Jobs at Cottage Labs</title>{% endblock %}
{% block page_desc %}
<meta name="description" content="Jobs at Cottage Labs">{% endblock %}

{% block content %}

<header>
    <div class="container">
        <div class="content">
            <h1>Jobs at Cottage Labs</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="brief" style="margin-bottom: 80px">We’re a small company working on diverse projects
                        including data repositories and infrastructure to support open access publishing. Much of our
                        code is open source and we maintain links to the open data community worldwide. Our clients have
                        included the Universities of Stanford, Oxford, and Edinburgh, as well as organisations such as
                        Crossref, the Directory of Open Access Journals, and the World Nuclear Association. Projects run
                        from a few months to years and usually involve development, customisation, and the deployment of
                        data management and analysis platforms.</p>
                </div>
            </div>

        </div>
    </div>
</header>

<section class="jobs">
    <div class="job">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 style="font-size: 1.8em; text-align: left;">Please stand by...</h2>

                        <p>We're not actively hiring right now, but watch this space for an upcoming job ad - we'll next
                            be looking for a proactive project manager who can help us keep our growing team productive.
                            If you might be interested please contact us via
                            <a href="mailto:jobs@cottagelabs.com">jobs@cottagelabs.com</a>.</p>

                        <!--
                        <p>To apply contact us at <a href="mailto:jobs@cottagelabs.com">jobs@cottagelabs.com</a> with
                            your CV and a covering letter if you wish.</p>
                        <p>Applicant data will be processed in accordance with our <a
                                href="/assets/pub/cl_recruitment_priv_01.pdf" target="_blank">privacy policy (pdf).</a>
                        </p>
                        -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}