{% extends "base.html" %}

{% block page_title %}<title>Jobs at Cottage Labs</title>{% endblock %}
{% block page_desc %}<meta name="description" content="Jobs at Cottage Labs">{% endblock %}

{% block content %}

    <header>
        <div class="container"><div class="content">
            <h1>Jobs at Cottage Labs</h1>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="brief" style="margin-bottom: 80px">Cottage Labs is a partnership of data experts who help our clients understand and
                        utilise their data more effectively. We build tailored solutions for their needs, from software
                        to processes, across the whole data spectrum.  Our customers are primarily academic/research related, involving work with researchers,
                        research publications, and research data. Projects run from a few months to years, usually
                        involving development, customisation, and deployment of data management and analysis platforms.</p>
                </div>
            </div>

        </div></div>
    </header>

    <section class="jobs">
        <div class="job"><div class="container"><div class="content">
            <div class="row"><div class="col-xs-12">

                <h2 style="font-size: 1.8em; text-align: left;">There are currently no jobs available</h2>

                <p>We don't have any vacancies right now, but if you think you have skills we can't live without then
                    contact us at <a href="mailto:us@cottagelabs.com">us@cottagelabs.com</a>.</p>

            </div></div>
        </div></div></div>
    </section>

{% endblock %}