html{
    font-size:12px;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    margin:0;
    padding:0;
}

body {
    font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:1.5em;
    line-height:1.846;
    color:#555;
    padding:0;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#555;
    font-weight: bold;
}

header {
    padding-top: 145px;
}

header h1 {
    text-align: center;
    font-size: 5em;
}

nav {
    padding-top:10px;
    border-bottom: 5px solid #040100bb !important;
    font-weight: bold;
    background: #ffffff;
}

nav img {
    vertical-align: bottom;
}

.navlink {
    color: #555;
    text-decoration: none;
}

.navlink:hover {
    color: #555;
    text-decoration: none;
}

.navigation ul {
    margin-bottom: 0px;
}

.navigation li {
    list-style: none;
    display: inline;
    padding-right: 10px;
}

.tagline {
    text-align: center;
    font-size: 2em;
}

.brief {
    text-align: center;
}

#data-services {
    margin-top: 80px;
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 5px solid #040100bb;
}

#data-services img {
    width: 100px;
    margin-bottom: 20px;
}

#clients {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 5px solid #040100bb;
}

/* LOGOS */

.logos {
    margin:30px 0 30px 0;
}

.logos.long {
    width: 100%;
}

.logos.square {
    width: 50%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .logos {
        margin:30px 30px 30px 30px;
    }

    .logos.long {
        width: auto;
        height:80px;
    }

    .logos.square {
        width: auto;
        height: 120px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* End LOGOS */


.cottage {
    width:63px;
    height:39px;
}

#partners {
    text-align: center;
    padding-bottom: 40px
}

#partners h2 {
    margin-bottom: 30px;
}

footer #info {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    background: #040100bb;
}

footer #info a {
    color: #ffffff;
    font-weight: bold;
}

footer #info a:hover {
    color: #ffffff;
}

footer #info .right-side {
    text-align: right;
}
