{% include 'head.html' %}

<body data-spy="scroll" data-target=".subnav" data-offset="50">

<div id="nav">
    <ul>
        <li><a id="navopts" href="#">CONTENTS</a></li>
        <li><a href="/">homepage</a></li>
        <li><a href="/about">abous us</a></li>
        <li><a href="/people">our people</a></li>
        <li><a href="/news">blog</a></li>
        <li><a href="/casestudy">case studies</a></li>
        <li><a href="/projects">projects</a></li>
        <li><a href="/reports">reports</a></li>
        <li><a href="/software">software</a></li>
        <li><a href="/software">search</a></li>
    </ul>
</div>

<div id="topstrap" class="visible-desktop">
    <div class="container">
        <div style="margin:10px 20px 0 20px;">
            <h1 style="font-weight:normal;"><a href="/" style="color:#333;">cottage labs</a>
                <small><br>we don't sell products, we trade our skills</small>
            </h1>
        </div>
    </div>
</div>

<div>
    <div class="container"> 
        <div class="alert-messages">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {%if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}} fade in" data-alert="alert">
              <a class="close" data-dismiss="alert" href="#">&times;</a>
              {{ message|safe }}
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
    </div>
</div>


<div id="main">
    <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{% if record %}{% if record.data %}{% if record.data['comments'] and app.config['COMMENTS'] %}
<div id="comments"><div class="container"><div class="content"><div class="row-fluid" id="disqus_thread"></div></div></div></div>
<script type="text/javascript">
    var disqus_shortname = "{{app.config['COMMENTS']}}";
    (function() {
        var dsq = document.createElement("script"); dsq.type = "text/javascript"; dsq.async = true;
        dsq.src = "http://" + disqus_shortname + ".disqus.com/embed.js";
        (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
    })();
</script>
{% endif %}{% endif %}{% endif %}


<footer id="bottom">
    <div class="container">
        <div class="content">
            <div class="row-fluid" style="margin-top:40px;">
                <div class="span12">
                    <ul class="nav nav-list">
                    {% include 'sitemap/sitenav.html' ignore missing %}
                    </ul>

                    <p><a href="mailto:us@cottagelabs.com" style="color:white;">us@cottagelabs.com</a></p>
                    <p><a href="http://twitter.com/cottagelabs" style="color:white;">@cottagelabs</a></p>
                    
                    <p style="text-align:right;"><a href="http://copyheart.org" style="color:white;">&#9825;</a> <a href="/" style="color:white;">Cottage Labs</a> LLP 2013<br><br>
                    Our VAT Registration number is 127710036<br>
                    Cottage Labs is a limited liability partnership, registered in Scotland with the number SO303454</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% if current_user.is_anonymous() %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20871671-1']);
  _gaq.push(['_setDomainName', 'cottagelabs.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</body>
</html>

