{% include 'head.html' %}

<body>

<div id="nav" style="z-index:1000000000;display:none;" class="visible-desktop">
    <ul>
        <li><a id="navopts" href="#">CONTENTS</a></li>
        {% include 'nav/nav.html' ignore missing %}
        <li class="divider"></li>
        {% if current_user.is_anonymous() %}
        <li><a href="{{url_for('account.login')}}">Login</a></li>
        {% else %}
        {% if record %}{% if record.data %}
        <li><a href="{{record.data.url}}/settings">Page settings</a></li>
        <li><a href="{{record.data.url}}/edit">Edit this page</a></li>
        <li class="divider"></li>
        {% endif %}{% endif %}
        <li><a href="/manage">Manage page tags</a></li>
        <li><a href="/nav">Manage nav</a></li>
        <li><a href="/media">Manage media</a></li>
        <li><a href="/admin">Manage projects</a></li>
        <li><a href="/howto">Read the howto</a></li>
        <li class="divider"></li>
        <li><a href="/account/{{ current_user.id }}">My account</a></li>
        <li><a href="/account/logout">Logout</a></li>
        {% endif %}

    </ul>
</div>

<div id="topstrap" class="visible-desktop">
    <div class="container">
        <div style="margin:10px 20px 0 20px;">
            <h1 style="font-weight:normal;"><a href="/" style="color:#333;">cottage labs</a> <small>
            {% for part in request.path.rstrip('/').split('/') %}
                {% if part|length > 0 %}
                    / 
                    {% if not request.path.rstrip('/').endswith(part)  %}
                        <a href="{{request.path.split(part)[0]}}{{part}}">
                    {% endif %}
                    {% if request.path|length > 100 and part|length > 40 %}
                        {{part.replace('-',' ').replace('_',' ')[:40]}}...
                    {% else %}
                        {{part.replace('-',' ').replace('_',' ')}}
                    {% endif %}
                    {% if not request.path.endswith(part) %}
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </small>
                <small><br>we don't sell products, we trade our skills</small>
            </h1>
        </div>
    </div>
</div>

<div id="mainnav">
    <div>
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <h3 class="hidden-desktop" style="padding:5px;"><a href="/">cottage labs</a></h3>
            <div class="nav-collapse">
                <ul class="nav">
                    {% include 'nav/nav.html' ignore missing %}
                    {% if current_user.is_anonymous() %}
                    <li><a href="{{url_for('account.login')}}">login</a></li>
                    {% else %}
                    <li><a href="">stuff</a></li>
                    <li><a href="">other</a></li>
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">options <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% if record %}{% if record.data %}
                            <li><a href="{{record.data.url}}/settings">Page settings</a></li>
                            <li><a href="{{record.data.url}}/edit">Edit this page</a></li>
                            <li class="divider"></li>
                            {% endif %}{% endif %}
                            <li><a href="/manage">Manage page tags</a></li>
                            <li><a href="/nav">Manage nav</a></li>
                            <li><a href="/media">Manage media</a></li>
                            <li><a href="/admin">Manage projects</a></li>
                            <li><a href="/howto">Read the howto</a></li>
                            <li class="divider"></li>
                            <li><a href="/account/{{ current_user.id }}">My account</a></li>
                            <li><a href="/account/logout">Logout</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>



<div id="main">
    <div class="container">
        <div class="content">

            <div class="alert-messages">
            {% with messages = get_flashed_messages(with_categories=True) %}
            {%if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{category}} fade in" data-alert="alert">
                  <a class="close" data-dismiss="alert" href="#">&times;</a>
                  {{ message|safe }}
                </div>
              {% endfor %}
            {% endif %}
            {% endwith %}
            </div>

            {% block content %}{% endblock %}
        </div>
    </div>
</div>


{% if record %}{% if record.data %}{% if record.data['comments'] and app.config['COMMENTS'] %}
<div id="comments"><div class="container"><div class="content"><div class="row-fluid" id="disqus_thread"></div></div></div></div>
<script type="text/javascript">
    var disqus_shortname = "{{app.config['COMMENTS']}}";
    (function() {
        var dsq = document.createElement("script"); dsq.type = "text/javascript"; dsq.async = true;
        dsq.src = "http://" + disqus_shortname + ".disqus.com/embed.js";
        (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(dsq);
    })();
</script>
{% endif %}{% endif %}{% endif %}


<footer id="bottom">
    <div class="container">
        <div class="content">
            <div class="row-fluid" style="margin-top:40px;">
                <div class="span4">

                    <a name="contact"></a>

                    <p style="color:white;font-weight:bold;margin-bottom:20px;">If you would like 
                    to know more about working with us, we would be happy to hear from you.</p>

                    <form id="contact" action="/contact/" method="post">
                    Write us a message:<br>
                    <textarea style="width:100%;height:100px;border:none;background-color:#f5f5f5;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;" name="message"></textarea>
                    <br>
                    <br>
                    Tell us your email so we can reply:<br>
                    <input style="width:100%;border:none;background-color:#f5f5f5;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;
        " name="email">
                    <br>
                    <br>
                    <input id="submit_contact" class="btn" name="submit" type="submit" style="width:103%;" value="send your message">
                    <input style="display:none;" name="not" type="text">
                    </form>

                </div>
                <div class="span2">
                </div>
                <div class="span6">
                    <p>email: <b><a href="mailto:us@cottagelabs.com" style="color:white;">us@cottagelabs.com</a></b></p>
                    <p>twitter: <b><a href="http://twitter.com/cottagelabs" style="color:white;">@cottagelabs</a></b></p>
                    <p>phone: <b>+44 (0) 787 661 5694</b></p>
                    
                    <p style="text-align:right;margin-top:120px;">
                    Cottage Labs LLP<br>
                    24/6 Bruntsfield Place<br>
                    Edinburgh EH10 4HJ<br><br>
                    <a href="http://copyheart.org" style="color:white;">&#9825;</a> <a href="/" style="color:white;">Cottage Labs</a> LLP 2011 - 2013<br><br>
                    Our VAT Registration number is 127710036<br>
                    Partnership registered in Scotland with the number SO303454</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% if current_user.is_anonymous() %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20871671-1']);
  _gaq.push(['_setDomainName', 'cottagelabs.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}

</body>
</html>

