{% extends "base.html" %}

{% block content %}

{% if current_user.id == account.id or current_user.is_super %}

    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                {% if current_user.id != account.id %}
                    <h2 style="color:red;">Because you are the superuser you can edit
                    account: <span style="color:#333">{{ account.id }}</span></h2>
                {% else %}
                    <h2>Hi {{ current_user.id }}</h2>
                    <p>{{ current_user.description }}</p>
                {% endif %}
            </div>
            <div id="user" class="span6">
                <form action="" method="POST">
                <p>New password: <input type="password" name="password" style="margin-bottom:0px;"> <input class="btn" type="submit" value="save"></p>
                {% if current_user.is_super %}
                    <p>Partner: <input type="text"></p>
                    <p>Senior Partner: <input type="text" data-path="senior"></p>
                    <p><input type="submit" class="btn btn-danger" value="Delete"></p>
                {% else %}
                    {% if account.senior %}
                        <p>You are a senior partner</p>
                    {% else %}
                        {% if account.partner %}
                            <p>You are a partner</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                </form>
            </div>
        </div>
    </div>

{% else %}

    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                <h2>{{ account.id }}</h2>
                <p>{{ account.description }}</p>
            </div>
            <div class="span6">
                <p>You are not logged in as this user. Use the <a href="/account/login">login page</a> if you want to change this</p>
            </div>
        </div>
    </div>
    
{% endif %}

{% endblock %}

