{% extends "base.html" %}

{% block content %}

{% if admin %}

    <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#user').jtedit({
            "data": {{ record | safe }}, 
            "hide": ["api_key","_created","_last_modified","_id"], 
            "target": "#",
            "delete_redirect": "/",
            'makeform': false, 
            'actionbuttons': false,
            'jsonbutton': false,
            'delmsg':"", 
            'savemsg':"", 
            "saveonupdate":false, 
            "reloadonsave":window.location
        })

        // select all in input / textarea
        var selectall = function(event) {
            event.preventDefault()
            $(this).select()
        }
        jQuery('.selectable').bind('click',selectall)
    });
    </script>

    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                {% if current_user.id != account.id %}
                    <h2 style="color:red;">Because you are the superuser you can edit
                    account: <span style="color:#333">{{ account.id }}</span></h2>
                {% else %}
                    <h2>Hi {{ current_user.id }}</h2>
                    <p>{{ current_user.description }}</p>
                {% endif %}
            </div>
            <div id="user" class="span6">
                <p>New password: <input class="jtedit_value" type="text" style="margin-bottom:0px;" data-path="password"> <input class="btn jtedit_saveit" type="submit" value="save"></p>
                {% if superuser %}
                    <p>Partner: <input class="jtedit_value" type="text" data-path="partner"></p>
                    <p>Senior Partner: <input class="jtedit_value" type="text" data-path="senior"></p>
                    <p><input type="button" class="btn btn-danger jtedit_deleteit" value="Delete this account"></p>
                {% else %}
                    {% if account.senior %}
                        <p>You are a senior partner</p>
                    {% else %}
                        {% if account.partner %}
                            <p>You are a partner</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

{% else %}

    <div class="hero-unit">
        <div class="row-fluid">
            <div class="span6">
                <h2>{{ account.id }}</h2>
                <p>{{ account.description }}</p>
            </div>
            <div class="span6">
                <p>You are not logged in as this user. Use the <a href="/account/login">login page</a> if you want to change this</p>
            </div>
        </div>
    </div>
    
{% endif %}

{% endblock %}

