{% extends "base.html" %}

{% block subnav %}

    <div id="subnav" class="subnav">
        <div class="container">
            <ul class="nav nav-pills">
                <li><a href="/admin#dashboard">Dashboard</a></li>
                <li><a href="/admin#reports">Reports</a></li>
                <li><a href="/admin#projects">Projects</a></li>
                <li><a href="/media">Media</a></li>
                <li><a href="/sitemap">Nav / Sitemap</a></li>
                <li><a href="/tagging">Pages / Tags</a></li>
                {% if current_user.is_super %}<li><a href="/account">Users</a></li>{% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}

    {% if superuser %}<p><a href="/account/register">create new user</a></p>{% endif %}

    {% for user in users %}

    <div style="padding:20px; margin:20px; border:2px solid #ccc; width:200px; height:60px; float:left; overflow:hidden;">
        <h3><a href="/account/{{ user.id }}">{{ user.id }}</a></h3>
        <p>created : {{ user.created_date }}</p>
    </div>

    {% endfor %}

    <div class="clearfix"></div>

{% endblock %}

