<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  {% block page_title %}<title>Cottage Labs</title>{% endblock %}
  {% block page_desc %}<meta name="description" content="">{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="//static.cottagelabs.com/bootstrap-3.0.3/css/bootstrap.min.css">

  <link href='/assets/css/cl.css' rel='stylesheet' type='text/css'>

</head>

<body>
    <nav class="navbar navbar-fixed-top">
        <div class="container"><div class="content">
        <div class="row">
            <div class="col-xs-12">
                <a href="https://cottagelabs.com" class="navlink"><img src="/assets/images/cottage.svg" class="cottage"> Cottage Labs</a>
                <div class="navigation pull-right">
                    <ul>
                        <li><a href="#clients" class="navlink">Clients</a></li>
                        <li><a href="#partners" class="navlink">Partners</a></li>
                        <li><a href="/data-services" class="navlink">Data Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div></div>
    </nav>
    <nav class="narrow-nav">
        <div class="container"><div class="content">
            <a href="#clients" class="navlink">Clients</a>
            <a href="#partners" class="navlink">Partners</a>
        </div></div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <div class="container"><div class="content">
            <div class="row">
                <div class="col-xs-12">
                    <img src="/assets/images/cottage.svg" class="cottage pull-right">
                </div>
            </div>
        </div></div>

        <div id="info">
            <div class="container"><div class="content">
                <div class="row">
                    <div class="toe col-md-6">
                        <p>email: <a href="mailto:us@cottagelabs.com">us@cottagelabs.com</a></p>
                        <p>twitter: <a href="http://twitter.com/cottagelabs">@cottagelabs</a></p>
                        <p>&copy; Cottage Labs LLP 2011 - 2018.  All site content <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY</a></p>
                    </div>

                    <div class="toe col-md-6">
                        <p class="right-side">
                          Cottage Labs LLP is a partnership registered in Scotland<br>
                          Company Number: SO303454<br>
                          VAT Registration: 127710036<br>
                          DUNS: 21-736-0418
                        </p>
                    </div>
                </div>
            </div></div>
        </div>
    </footer>

</body>
</html>
