<ul style="list-style-type:none;margin-left:10px;">
<li><h2><a href="/people">people</a></h2></li>
<li><h2><a href="/media">media</a></h2></li>
<li><h2><a href="/work">work</a></h2></li>
<li><h2><a href="/reports">reports</a></h2></li>
<li><h2><a href="/news">news</a></h2></li>
<li><h2><a href="/projects">projects</a></h2>
<ul style="list-style-type:none;margin-left:20px;">
<li><h3><a href="/projects/hidden">hidden</a></h3>
<ul style="list-style-type:none;margin-left:20px;">
<h4><li><a href="/projects/hidden/another">another</a></h4></li>
</ul>
</li>
</ul>
</li>
<li><h2><a href="/software">software</a></h2>
<ul style="list-style-type:none;margin-left:20px;">
<li><h3><a href="/software/facetview">facetview</a></h3>
</li>
</ul>
</li>
</ul>